<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">Made with Angular 5 & MaterializeCSS. Django backend</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Sh1kataGaNai">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Grechko Evgeniy</a>
    </div>
  </div>
</footer>
