<div class="">
  <div class="card">
    <div class="card-content">
      <span class="card-title">City</span>
      <div class="section">
        <h5>Name</h5>
        <p>{{city.city_name}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Country Code</h5>
        <p>{{city.iso_country_code}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Lat</h5>
        <p>{{city.lat}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>Lon</h5>
        <p>{{city.lon}}</p>
      </div>


    </div>
  </div>
</div>
